.login{
  width: 382px;  
  overflow: hidden;  
  margin: auto;  
  margin: 20 0 0 450px;  
  padding: 80px;  
  background: #e9e7e7;  
  border-radius: 30px ;  
  opacity: 0.7;
  position: relative;
  top: 150px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}  
.la{  
  color: #2f2424;  
  font-size: 17px;  
}  
.uname{  
  width: 300px;  
  height: 30px;  
  border: none;  
  border-radius: 3px;  
  padding-left: 8px;  
}  
#Pass{  
  width: 300px;  
  height: 30px;  
  border: none;  
  border-radius: 3px;  
  padding-left: 8px;  
      
}  
#log{  
  width: 300px;  
  height: 30px;  
  border: none;  
  border-radius: 17px;  
  padding-left: 7px;  
  color: rgb(0, 0, 0);  
  background-color: rgb(127, 219, 150);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}  
span{  
  color: rgb(6, 6, 6);  
  font-size: 17px; 
}  
.urll{  
  float: right;
  position: relative;
  left: -20px;
  font-size: larger;
} 
.fpass{
  position: relative;
  left: -40px;
  font-size: larger;
}
.url{
  float: right;
}
.logo{
  text-align: center;
}

.logLogin{
  /* background-repeat: no-repeat; */
  /* background-image: url("../images/back.jpg");
  background-size: cover; */

}
#login{
  position: relative;
  left: 30px;
}
.but{
  position: relative;
  top: -30px;
  left: 130px;
  
}
a{
  text-decoration: none;
  color: black;
}
body{
  /* background-image: url("../images/back.jpg");
  background-size: cover; */
  background-color: rgb(212, 220, 227);
}